@mixin form_contact_dark{
.contact-form-wrapper {
    width: 75%;
    padding: 30px;
    background: $bg-color-dark
}

::placeholder {
    color: $contact-form-dark-placeholder-color;
}

.contact-form-wrapper input[type=text],
input[type=email],
textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    background: $contact-form-dark-textarea-bg-color;
}

.contact-form-wrapper textarea {
    height: 20vh;
}

input[type=submit] {
    font-family: Helvetica, Fira Code, Monaco, Consolas, Ubuntu Mono, monospace;
    font-size: 1.25em;
    width: 100%;
    padding: 10px;
    border: none; /* Removes default border */
    border-radius: 8px; /* Adds rounded corners */
    padding: 12px 16px; /* Larger padding for better tap target */
    display: block; /* Makes the button behave like a block element */
    cursor: pointer; /* Changes cursor to pointer */
}

input[type=submit]:hover {
    background-color: $contact-form-input-dark-bg-color;
}

@media (max-width: 768px) {
    input[type="submit"] {
        width: 90%; /* Slightly smaller width for mobile */
        font-size: 14px; /* Slightly smaller font size for smaller screens */
        padding: 10px 14px; /* Adjust padding for smaller screens */
        margin: 0 auto; /* Centers the button horizontally */
    }
}
}

body.colorscheme-dark {
    @include form_contact_dark();
  }
  
  body.colorscheme-auto {
    @media (prefers-color-scheme: dark) {
      @include form_contact_dark();
    }
  }